* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
}

html {
    font-family: sans-serif;
    line-height: 1.6;
    color: $clr3;
}

body {
    margin: 0;
    height: fit-content;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: em(40px);
    line-height: 50px;
}

// img {
//     width: 100%;
// }

p {
    margin: 0;
    line-height: em(30px);
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}